.background
{
    background-image: url('/photo1.jpg');
}


.subtitle
{
 
    margin-top: 10%;
    justify-content: center;
    align-content: center;
   
}

.formHome
{

    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center; 
     

}